name: Check Bus Ticket

on:
  schedule:
    # Runs at 00:00 and 12:00 UTC everyday
    - cron: '0 0,12 * * *'
  workflow_dispatch: # Allows you to run it manually to test

jobs:
  check-tickets:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Check
        env:
          EMAIL_USER: ${{ secrets.EMAIL_SENDER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASSWORD }}
          EMAIL_TO: ${{ secrets.EMAIL_RECEIVER }}
          AEROLINE_SESSION_ID: ${{ secrets.AEROLINE_SESSION_ID }}
        run: python check_bus.py
