name: Aeroline Ticket Checker

on:
  schedule:
    # Runs at 00:00 and 12:00 UTC every day
    - cron: '0 0,12 * * *'
  workflow_dispatch: 
    # Allows you to manually trigger the run from GitHub UI for testing

jobs:
  check-tickets:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Ticket Checker
        env:
          EMAIL_USER: ${{ secrets.EMAIL_SENDER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASSPORT }}
          EMAIL_RECEIVER: ${{ secrets.EMAIL_RECEIVER }}
        run: python check_aeroline.py
